<!DOCTYPE html> 

<html>
    <header>
        This is HELP hbs
    </header>
    <body>
        <h1>this is a h1</h1>
        <h2>this is my msg for you: {{msg}}</h2>
        <h3>current time: {{time}}</h3>


        <a href="index.html">Home</href>        
        <a href="about.html">About</href>
    </body>
</html>